::selection {
    background: #2D8DF7;
    color: white;
}

body {
      background:url(https://images5.alphacoders.com/737/737385.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position:center center;
      color: #EBEBEB; // 全局字體顏色
}

.blockquote-center {
  &:before {
    border-top: 1px solid #111;
    filter: invert(100%);
  }
  &:after {
    border-bottom: 1px solid #111;
    filter: invert(100%);
  } 
}

blockquote {
  color: light grey;
}

.post-body .note {
  color: black;
  ::selection {
    background: #2D8DF7;
    color: white;
  }

  blockquote {
    color: #6E6E6E;
  }
}

.post-body a:not(.btn) {
  color: #77BBFF;
  border-bottom: none;
  &:hover {
    border-bottom: none;
    border-bottom: 2px solid #77BBFF;
  }
}

.post-body .note p a, .post-body .note p span.exturl, .post-body .note a, span.exturl {
  color: #0593d3;
  border-bottom: none;
  &:hover {
    border-bottom: none;
    border-bottom: 2px solid #0593d3;
  }
}

.post-body .image-caption, .post-body .figure .caption {
    margin: 10px auto 15px;
}

.post-body h3 {
  border-bottom: none;
}