::selection {
    background: #3390FF;
    color: white;
}

body {
      background:url(https://images5.alphacoders.com/737/737385.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position:center center;
      color: #EBEBEB; // 全局字體顏色
}

.content-wrap {
  opacity: 0.95;
}

.side bar {
  opacity: 0.95;
  color: white;
}

.popup {
  opacity: 0.95;
}

.blockquote-center {
  &:before {
    border-top: 1px solid #111;
    filter: invert(100%);
  }
  &:after {
    border-bottom: 1px solid #111;
    filter: invert(100%);
  } 
}

blockquote {
  color: light grey;
}

.post-body .note {
  color: black;
  ::selection {
    background: #C4E7E8;
    color: black;
  }

  blockquote {
    color: #6E6E6E;
  }
}

.post-body .note p a, .post-body .note p span.exturl {
  color: #0593d3;
  border-bottom: none;
  border-bottom: 1px solid #0593d3;
  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}

img {
  opacity: 100;

  &:hover {
    opacity: 0.95;
  }
}

.post-body .image-caption, .post-body .figure .caption {
    margin: 10px auto 15px;
}

.gist .blob-code-inner {
  color: white;
}

.gist .blob-num {
  color: black;
}

.gist .blob-code {
  color: black;
}